@charset "UTF-8";
/* font-family: 'Cafe24Dangdanghae'; */

/* pop_up */
.pop_up{display:none; position:fixed; width:100%; height:100%; left:0; top:0; z-index:10000; background-color:rgba(0,0,0,0.7);}
.pop_up .p_wrap{position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; width:17.25rem; height:19rem;}
.pop_up .p_wrap img{position:absolute; width:100%; height:100%;}
.pop_up .p_top{position:absolute; z-index:10002; top:0; left:0; right:0; margin:15px auto 0; width:calc(100% - 30px); height:calc(100% - 3.25rem); box-sizing:border-box; background-color:rgba(255,255,255,0.7);}
.p_text01 p{padding:8px; color:#490e67; font-size:0.95rem; line-height:1.425rem;}
.p_text01 p span{font-size: 1.125rem; font-weight:600; color:#490e67;}
.go_pc{position:absolute; bottom:0; width:100%; padding:0.5rem; box-sizing:border-box; font-size: 0.875rem; background-color:#490e67; border:none; color:#fff; text-align: center;}

.pop_up .p_bottom{position:absolute; z-index:10002; bottom:0; right:0; left:0; margin:0 auto; width:calc(100% - 30px); height:2.5rem; line-height:2.5rem;  box-sizing: border-box; text-align:right;}
.pop_up .p_bottom legend{position:absolute; left:-999em;}
.pop_up .p_bottom  a{padding-left: 0.6rem; color:#490e67; font-size:0.875rem;}
.pop_up form .check_box span{position:relative; top:-1px; left:3px; border-bottom:1px solid #490e67; font-size:0.875rem; color:#490e67; }
.pop_up form .check_box i{display:inline-block; width:10px; height:10px; border:1px solid #999; background-color:#fff;}
.pop_up form #not_today:checked + i{background-image:url(../images/common/checkbox_bg.png); background-size:10px;}
.pop_up form #not_today{position: absolute; left:-99999999em;}

@media screen and (min-width:320px){
    .p_text01 p{font-size:0.875rem; line-height:1.425rem;}
    .pop_up .p_bottom  a, .pop_up form .check_box span{ font-size:0.75rem;}
}

/* main */
main{position:relative; width:100%; box-sizing:border-box; overflow: hidden;}
main .swiper-container{width:100%; height:100%;}
main .swiper-slide{width:100%; height:100%;}
/* slide01 */
main .slide01{padding:1.5rem 0 8rem; box-sizing:border-box; background-image:url(../images/main/main_bg01.png); background-repeat:no-repeat; background-size:cover; background-position: center; overflow: hidden;}
main .slide01 img{width:12rem; margin:0 0.25rem 0.675rem 2.25rem;}
main .slide01 h3{padding:0 1rem 0.675rem; text-align:center; font-size:1.5rem; font-family: 'Cafe24Dangdanghae'; font-weight:normal; color:#490e67; }
main .slide01 p {text-align: right; padding-right:1.125rem; font-size:1.125rem; font-weight:500; color:#490e67; opacity:0.9;}
main .slide01 span{
  position:absolute; display: block; width:2.75rem; height:2rem; background-image:url(../images/main/main_slide01_icon_effect.png); background-size:cover; background-position: center;
  animation: animationFrames linear 20s; animation-iteration-count: infinite; transform-origin: 50% 50%;-webkit-animation: animationFrames linear 20s;-webkit-animation-iteration-count: infinite;-webkit-transform-origin: 50% 50%;
  opacity:0.7;
}
main .slide01 .ball01{left:calc(50% - 700px); top:80px; animation-delay:1s;}
main .slide01 .ball02{left:3%; top:300px; animation-delay:2s;}
main .slide01 .ball03{left:50%; top:20px;}
main .slide01 .ball04{right:10%; top:300px; animation-delay:1s; }
main .slide01 .ball05{right:35%; top:520px;}
main .slide01 .ball05{right:35%; top:520px;}
main .slide01 .ball06{right:50%; bottom:420px; animation-delay:2s;}

@keyframes animationFrames{
  0% {
    transform:  translate(139px,0px)  rotate(0deg) ;
  }
  14% {
    transform:  translate(86px,69px)  ;
  }
  28% {
    transform:  translate(-23px,99px)  ;
  }
  43% {
    transform:  translate(-117px,65px)  ;
  }
  53% {
    transform:  translate(-137px,-25px)  rotate(-1deg) ;
  }
  64% {
    transform:  translate(-100px,-88px)  rotate(-1deg) ;
  }
  75% {
    transform:  translate(-23px,-105px)  rotate(-1deg) ;
  }
  84% {
    transform:  translate(86px,-89px)  rotate(-1deg) ;
  }
  100% {
    transform:  translate(133px,1px)  rotate(-1deg) ;
  }
}
@media screen and (min-width:414px){
    main .slide01{padding:2.25rem 0 8rem;}
}
/* slide02 */
main .slide02{padding:5.25rem 0 5rem; box-sizing: border-box; background-image:url(../images/main/main_bg02.png); background-repeat:no-repeat; background-size:cover; background-position:top center; text-align:center;}
main .slide02 .text_top{height:2.125rem; font-size:1.25rem; font-weight:700;}
main .slide02 h3{height:10rem; line-height:3.125rem; font-size:2.125rem; font-family: 'Cafe24Dangdanghae'; font-weight:normal;}
main .slide02 .text_bottom{height:6.5rem; line-height:1.675rem; font-size:1.125rem;}
main .slide02 .text_bottom span{color:#490e67; font-size:1.45rem; font-style:italic; font-family: 'Cafe24Dangdanghae';}
main .slide02 a{display:block; width:100%; padding:5px; background-color:#74408c; color:#fff; font-size:1.5rem; font-weight:500;}
@media screen and (min-height:812px){
    main .slide02{padding:6rem 0 5rem;}
    main .slide02 .text_top{height:2.65rem;}
    main .slide02 h3{height:10.75rem; line-height:3.5rem; font-size:2.5rem;}
}
/* slide03 */
main .slide03{padding:0 15px; box-sizing:border-box; background-image:url(../images/main/main_bg03.png); background-repeat:no-repeat; background-size:cover; background-position:top center; text-align:left;}
main .slide03 > *{color:#fff;}
main .slide03 .text_top{height:19.5rem; padding-top:1.5rem; line-height:2.125rem; text-align:right; font-size:1.5rem;}
main .slide03 .date{height:1.65rem; font-size:1.125rem;}
main .slide03 .text_bottom{height:2.25rem; font-size:1.25rem;}
main .slide03 h3{font-size:1.95rem; font-family: 'Cafe24Dangdanghae'; font-weight:normal;}
@media screen and (min-width:414px){
    main .slide03 .text_top{height:19.5rem; padding-top:2.125rem;}
}
@media screen and (min-height:812px){
    main .slide03 .text_top{height:22rem; padding-top:2.125rem; line-height:2.5rem; font-size:1.5rem;}
    main .slide03 .date{height:1.75rem; font-size:1.125rem;}
    main .slide03 .text_bottom{height:2.75rem; font-size:1.5rem;}
    main .slide03 h3{font-size:2.125rem;}
}
/* pagination */
main .swiper-pagination{top:82%;}
main .swiper-pagination-bullet{width:12px; height:12px; border-radius:12px; background-color:#490e67; opacity:0.5;}
main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:10px;}
main .swiper-pagination-bullet-active{width:36px; opacity:1;}
/* search */
.search{position:absolute; z-index:150; right:0; left:0; bottom:0; width:calc(100% - 30px); height:3.75rem; margin:0 auto; padding:0.5rem 15px; box-sizing:border-box; border-radius:1.5rem 1.5rem 0 0; background-color:#f9f6ff; border:1px solid #490e67; border-bottom:none;}
.search input{float:left; width:75%; height:100%; padding-left:15px; box-sizing:border-box; background-color:transparent; border:none; border-radius:0; border-bottom:1px solid #490e67;}
.search label{position:absolute; left:-999em;}
.search button{position:relative; top:2px; float:right; width:20%; height:100%; background-color:transparent; background-image:url(../images/main/search_icon.png); background-repeat:no-repeat; background-size:40px auto; background-position:center;}
@media screen and (max-width:320px){
    .search button{background-size:32px auto;}
}

/* title_wrap */
.title_wrap{display:block; width:14rem; margin-bottom:0.5rem; }
.title_wrap h2{position:relative; top:-2px; display:inline-block; margin-right:8px; font-size:1.25rem; font-family: 'Cafe24Dangdanghae'; font-weight:normal;}
.title_wrap img{display:inline-block; width:20px;}

/* best_sellers */
#best_sellers{width:100%; margin-top:20px; padding:15px; border:1px solid #490e67; border-left:none; border-right:none; background-color:#f9f6ff; overflow: hidden;}
#best_sellers .swiper-slide{width:190px; border:1px solid #490e67;}
#best_sellers .swiper-slide img{width:100%;}
#best_sellers .text_box{position:relative; padding:10px 15px; border-top:2px solid #490e67;}
#best_sellers .text_box h3{width:100px; font-size:1rem; font-weight:500; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#best_sellers .text_box h4{font-size:0.875rem; font-weight:500;}
#best_sellers .text_box a{position:absolute; top:0; bottom:0; right:15px; margin:auto 0; display:block; width:40px; height:40px;}
#best_sellers .text_box a img{width:40px; height:40px;}


/* book_of_month */
#book_of_month{position:relative; width:100%; margin-top:24px; }
#book_of_month .title_wrap{margin:0 auto 0.75rem; text-align: center;}
#book_of_month .swiper-container{width:100%; padding:0 2.5rem; box-sizing:border-box;}
#book_of_month .swiper-slide{position:relative; border:1px solid #490e67; box-sizing: border-box; border-radius:8px; overflow:hidden; transform:scale(0.9,0.9); transition:0.4s;}
#book_of_month .swiper-slide:after{position:absolute; left:-2px; top:-2px; display:block; width:calc(100% + 4px); height:calc(100% + 4px); border-radius:8px; background-color:rgba(74,13,103,0.4); content:'';}
#book_of_month .swiper-slide-active{transform:scale(1,1); transition:0.4s;}
#book_of_month .swiper-slide-active:after{display:none;}
#book_of_month .swiper-slide > img{float:left; display:inline-block; width:10.125rem;}
#book_of_month .swiper-slide .text_box{float:right; padding:15px 10px; box-sizing:border-box; }
#book_of_month .swiper-slide .text_box h3{width:100%; height:1.75rem; font-weight:700; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#book_of_month .swiper-slide .text_box h4{height:1.875rem; font-weight:500;}
#book_of_month .swiper-slide .text_box .genre{height:1.5rem; font-size:0.875rem;}
#book_of_month .swiper-slide .text_box .summary{font-size:0.875rem;}
#book_of_month .like_share{position:absolute; right:0; bottom:0; width:80px; height:40px;}
#book_of_month .like_share li{position:relative; float:left; width:50%; height:100%;}
#book_of_month .like_share a{display:block; width:100%; height:100%;}
#book_of_month .like_share img{position:absolute; right:0; left:0; top:0; bottom:0; margin:auto; width:24px;}
#book_of_month .like_share .first{background-color:#490e67;}
#book_of_month .like_share .last{border-top:1px solid #490e67; box-sizing:border-box;}

/* author_interview */
#author_interview{width:100%; margin-top:24px; overflow: hidden;}
#author_interview .wrap{position:relative; float:right; width:calc(100% - 30px); border:1px solid #490e67; border-right:none;}
#author_interview .wrap a > img{width:100%;}
#author_interview .wrap .title_wrap{position:absolute; left:0; top:0; width:100%;  padding:4rem 0 0 5rem; box-sizing: border-box; text-align: center;}

/* publishing */
#publishing{width:100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display:flex;  justify-content:space-between; margin-top:24px; padding:15px; box-sizing:border-box; border-top:1px solid #490e67; border-bottom:1px solid #490e67; background-color:#f6f2ff}
#publishing a{display:block; flex:1; margin-right:10px; text-align:center;}
#publishing .consulting{display:block; flex:1; margin-right:0;}
#publishing a > img {width:100%;}
#publishing a > h3{margin-top:0.75rem; font-weight:500;}
#publishing a > h3 + img {width:20px; margin:0.5rem auto 0;}

/* event */
#event{width:100%; margin-top:24px;}
#event .title_wrap{padding-left:15px;}
#event .swiper-container{float:left; width:calc(100% - 30px);}
#event .swiper-slide{position:relative; width:100%; border:1px solid #490e67; border-left:none; box-sizing: border-box;}
#event .swiper-slide a{width:100%; height:100%;}
#event .swiper-slide img{width:100%;}
#event .text_box{position:absolute; top:0; left:0; width:100%; padding:1.5rem 0; box-sizing:border-box; text-align:center;}
/* slide01 */
#event .slide01 p{height:2.65rem; font-size:1.125rem; font-weight:500;}
#event .slide01 h3{height:2.5rem; font-size:1.5rem; font-weight:normal; font-family: 'Cafe24Dangdanghae';}
#event .slide01 h4{font-size:1.25rem; font-weight:normal;}
/* slide02 */
#event .slide02 .text_box{padding:1.5rem 0 0 14.6rem; text-align:left;} 
#event .slide02 p{line-height: 1.675rem; font-size:1.125rem; color:#2828dd;} 
#event .slide02 span{font-size:1.125rem; font-weight:700; color:#2828dd;} 
/* slide03 */
#event .slide03 .text_box{padding:1rem 15px 0; text-align:left;}
#event .slide03 h4{font-size:1.125rem; font-weight:500;}
#event .slide03 h3{font-size:1.5rem; font-weight:700;}
#event .slide03 p{padding-top:0.75rem; line-height:1.55rem;}
#event .swiper-pagination{top:auto; bottom:0; background-color:rgba(74,13,103,0.4);}
#event .swiper-pagination-progressbar-fill{background-color:rgba(74,13,103,0.8);}

/* new_books */
#new_books{width:100%; padding-top:24px; box-sizing:border-box; overflow:hidden;}
#new_books .slider_wrap{width:100%; padding:0.97rem 0; border-top:1px solid #490e67; background-color:#f6f2ff;}
#new_books .swiper-container{width:100%; padding-left:15px; box-sizing:border-box;}
#new_books .swiper-wrapper{width:100%;}
#new_books .swiper-slide a{display:block; width:100%; height:100%;}
#new_books .swiper-slide{width:9.625rem; border:1px solid #490e67; box-sizing:border-box;}
#new_books .swiper-slide img{width:100%;}
#new_books .title_wrap{width:100%; margin-bottom:0; background-color:#490e67; overflow:hidden;}
#new_books .title_wrap a{position:relative; top:2px; float:right; display: block; width: 10rem; height:100%; line-height:2.5rem;}
#new_books .title_wrap h2{color:#fff;}

/* podcast */
#podcast{width:100%; margin-top:24px;}
#podcast .title_wrap{width:10rem; padding-left:15px; box-sizing:border-box;}
#podcast .wrap{position:relative; width:100%; overflow:hidden;}
#podcast .contents_wrap{position:relative; width:100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display:flex; justify-content:space-between; padding-left:15px; box-sizing:border-box; overflow:hidden;}
#podcast .video_wrap{flex:5; position:relative; width:13.875rem;}
#podcast .video_wrap iframe{width:100%; height:100%; left:15px; top:0; bottom:0; margin: auto 0; border-radius:8px; border:none;}
#podcast .play_btn{position: absolute; left:0; right:0; top:0; bottom:0; width:72px; margin:auto; background-color: transparent;}
#podcast .play_btn img{width:100%;}
#podcast .text_box{flex:2; margin:20px 15px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display:flex;  flex-direction:column; flex-direction:-webkit-column; justify-content:-webkit-space-between; }
#podcast .text_box h3{width:7.5rem; font-size:1rem; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}
#podcast .text01{font-weight:500;}
#podcast .text02{font-size:0.875rem;}
#podcast .podcast_bg{position:absolute; top:0; bottom:0; left:0;  margin:auto 0; width:100%; height:calc(100% - 20px); background-color:#f6f2ff; border-bottom:1px solid #490e67; border-top:1px solid #490e67; box-sizing: border-box;}

/* notice */
#notice{width:100%; margin-top:24px; padding:0 15px; box-sizing:border-box;}
#notice > a{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display:flex; height:3.5rem; padding:15px; box-sizing:border-box; background-color:#490e67;}
#notice .title_wrap{flex:1; width:9rem; height:100%; margin-right:1rem; line-height:2rem;}
#notice .title_wrap h2{color:#fff;}
#notice .swiper-container{flex:2;}
#notice .swiper-slide > *{color:#fff; line-height:1.625rem;}
#notice .swiper-slide h4{float:left; width:6.75rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-weight:500;}
#notice .swiper-slide span{position:relative; top:1px; float:right; font-size:0.75rem;}

/* subscribe */
#subscribe{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display:flex; justify-content:space-between; width:100%; margin-top:24px; padding:15px; box-sizing:border-box; border-top:2px solid #490e67; border-bottom:1px solid #490e67; background-color:#f6f2ff;}
#subscribe input{width:74%; margin-right:1rem; height:2.5rem; padding-left:1rem; box-sizing: border-box;}
#subscribe button{width:22%; height:2.5rem; background-color:#490e67; border-radius:4px; color:#fff; font-weight:500;}
#subscribe label{position:absolute; left:-999em;}







